.godot/
.import/
*.import
export_presets.cfg
export.cfg
export_credentials.cfg
.mono/
data_*/
mono_crash.*.json
*.translation
android/
.vs/
.vscode/
.idea/
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.nfs*
